@import "main.css";
@import "normalize.css";
body {
  background-color: #171725;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  max-width: 1440px;
  overflow-x: hidden;
  /*position: relative;*/
  /*opacity: 0;*/
}
/* password-protection */
.password-protection {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100vh;
   }
    .title h1 {
        color: #fff;
        font-size: 20px;
      }
      .input-field #password {
        font-family: "SpaceMono-Bold", monospace;
        width: 400px;
        height: 40px;
        border-color: #6D13FF;
        background: #171725;
        color: #fff;
        border-width: 3px;
        padding-left: 15px;
      }
      .input-field button {
        background: #171725;
        color: #fff;
        border-color: #6D13FF;
        padding: 12px;
        margin-left: 20px;
        border-width: 3px;
        outline: 0;
        overflow:hidden;
        background: none;
        position: relative;
        font-family: arial;
        font-weight: bold;
        transition:         0.08s ease-in;
        -o-transition:      0.08s ease-in;
        -ms-transition:     0.08s ease-in;
        -moz-transition:    0.08s ease-in;
        -webkit-transition: 0.08s ease-in;
      }
      /* .input-field button:hover {
        background: #6D13FF;
        padding: 12px;
        cursor: pointer;
      } */

      .fill:hover {
        color: whitesmoke;
      }
      
      .fill:before {
        content: "";
        position: absolute;
        background: #6D13FF;
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -1;
        -webkit-transition: top 0.09s ease-in;
      }
      
      .fill:hover:before {
        top: 0;
      }
      

nav {
  position: relative;
  border: 1px solid transparent;
  margin: 8px 0;
}

html.wf-loading {
  opacity: 0;
}

section {
  margin: 0px auto;
  padding: 0px;
  min-height: 256px;
  height: auto;
  z-index: 10;
}
section#intro {
    margin: 150px 180px 0 180px;
}

h1 {
  font-family: "SpaceMono-Bold", monospace;
  font-size: 40px;
  color: #c5c5c6;
  font-weight: 700;
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
}

p {
  font-family: "SpaceMono-Bold", monospace;
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
}
.digital-image-home img {
    width: 100%;
}

.digital-image-home {
    position: absolute;
    z-index: -1;
    top: -150px;
}

#logo {
  font-family: "SpaceMono-Bold", monospace;
  font-size: 20px;
  margin: 30px 100px 30px 100px;
}

#contact {
    position: absolute;
    right: 100px;
    top: 27px;
    width: 32px;
    float: right;
    height: 32px;
    cursor: pointer;
    background-image: url(../img/contact-icon.svg);
}

/* #togglePassword {
    margin-left: -5%;
    display: inline;
    vertical-align: middle;
} */

#blueCircle {
    position: fixed;
    top: -43%;
    width: 100%;
    right: 0vw;
    height: 169vh;
    z-index: -10;
    background-color: #000010;

}

#playerWrap {
  position: absolute;
  top: -160%;
  right: -68%;
  z-index: -1;
  width: 200%;
}
#introVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    background-color: #000010;
  }
  #introVideo video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  @media only screen and (min-width : 320px) and (max-width : 767px) {
  
  #introVideo video {
    /* Make video to at least 100% wide and tall */
    min-width: 50%; 
    min-height: 50%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: 458px;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.scrollText.hover-text {
    display: flex;
    letter-spacing: 10px;
}

#about, #LetsChat {
  margin: 70px 100px 0 150px;
}
#about #aboutWarpper, #about #LetsChatWrapper, #LetsChat #aboutWarpper, #LetsChat #LetsChatWrapper {
  max-width: 1004px;
  width: 100%;
  padding: 0;
}
#about #aboutWarpper #lines, #about #LetsChatWrapper #lines, #LetsChat #aboutWarpper #lines, #LetsChat #LetsChatWrapper #lines {
  width: 357px;
  margin: 0 0 0px 30px;
}
#about #aboutWarpper #lines #blue, #about #LetsChatWrapper #lines #blue, #LetsChat #aboutWarpper #lines #blue, #LetsChat #LetsChatWrapper #lines #blue {
  width: 0%;
  height: 5px;
  background-color: #3F98E0;
  margin: 10px 0px 0px 0px;
  transition: width 0.5s;
}
#about #aboutWarpper #lines #violent, #about #LetsChatWrapper #lines #violent, #LetsChat #aboutWarpper #lines #violent, #LetsChat #LetsChatWrapper #lines #violent {
  width: 0%;
  height: 5px;
  background-color: #6D13FF;
  margin: 10px 0px 0px 0px;
  transition: width 0.5s;

}
#about #aboutWarpper #lines #green, #about #LetsChatWrapper #lines #green, #LetsChat #aboutWarpper #lines #green, #LetsChat #LetsChatWrapper #lines #green {
  width: 75%;
  height: 5px;
  background-color: #38F898;
  margin: 10px 0px 0px 0px;
}
#about #aboutWarpper #aboutImage, #about #LetsChatWrapper #aboutImage, #LetsChat #aboutWarpper #aboutImage, #LetsChat #LetsChatWrapper #aboutImage {
  width: 35%;
  height: 415px;
  background-color: #000;
  float: left;
  cursor: default
}
#about #aboutWarpper #aboutImage img, #about #LetsChatWrapper #aboutImage img, #LetsChat #aboutWarpper #aboutImage img, #LetsChat #LetsChatWrapper #aboutImage img {
  width: 88%;
  padding: 19px;
}

.swapImage {
    position: relative;
    max-width: 100%;
}

#aboutImage img, #whatIdo, #whatIveDone, #LetsChat {
    z-index: -1;
}

/* Added the second, aboutImage swap image here */


.swapImage img.aboutImage-hover {
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.swapImage:hover img.aboutImage-hover {
    opacity: 1;
}

/* Below code hides first image */

/* .swapImage:hover img {
    opacity: 0;
    transition: opacity .2s;
} */

#about #aboutWarpper #aboutCopy, #about #LetsChatWrapper #aboutCopy, #LetsChat #aboutWarpper #aboutCopy, #LetsChat #LetsChatWrapper #aboutCopy {
  width: 60%;
  float: left;
  margin: 0 0 0 50px;
}
#aboutCopy p {
    color: #ffffff;
}
p.introText2 {
    color: #b2b2b9;
    font-weight: bold;
}
.scrollText.hover-text.sass {
    padding: 10px 0;
}
#aboutWarpper {
    display: flex;
    align-items: center;
}
#about #aboutWarpper #aboutCopy h1, #about #LetsChatWrapper #aboutCopy h1, #LetsChat #aboutWarpper #aboutCopy h1, #LetsChat #LetsChatWrapper #aboutCopy h1 {
  font-size: 44px;
  color: #fff;
}
#about #aboutWarpper #aboutCopy p, #about #LetsChatWrapper #aboutCopy p, #LetsChat #aboutWarpper #aboutCopy p, #LetsChat #LetsChatWrapper #aboutCopy p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}
#about #aboutWarpper #LetsChatImage, #about #LetsChatWrapper #LetsChatImage, #LetsChat #aboutWarpper #LetsChatImage, #LetsChat #LetsChatWrapper #LetsChatImage {
  width: 35%;
  background-color: transparent;
  float: left;
}
div#LetsChatWrapper {
    display: flex;
    align-items: center;
}
#about #aboutWarpper #LetsChatCopy, #about #LetsChatWrapper #LetsChatCopy, #LetsChat #aboutWarpper #LetsChatCopy, #LetsChat #LetsChatWrapper #LetsChatCopy {
  width: 60%;
  float: left;
  margin: 0 50px 0 50px;
}
#about #aboutWarpper #LetsChatCopy h1, #about #LetsChatWrapper #LetsChatCopy h1, #LetsChat #aboutWarpper #LetsChatCopy h1, #LetsChat #LetsChatWrapper #LetsChatCopy h1 a{
  font-size: 45px;
  color: #fff;
  text-decoration: underline;
}
div#LetsChatCopy h1 a{
  text-decoration-color: #3f98e0 !important;
}

#about #aboutWarpper #LetsChatCopy p, #about #LetsChatWrapper #LetsChatCopy p, #LetsChat #aboutWarpper #LetsChatCopy p, #LetsChat #LetsChatWrapper #LetsChatCopy p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}
.footer-text ul li a {
    color: #ceced1;
    text-decoration: unset;
    font-size: 13px;
    padding-left: 20px;
    font-weight: bold;
    font-family: "SpaceMono-Bold", monospace;
}
.footer-text ul li {
    display: inline-block;
}
.footer-text ul {
    display: inline-block;
}
.footer-text {
    float: right;
}
#footer {
    margin: 150px 100px 0 100px;
}

#whatIdo {
  float: none;
  margin: 200px 0 0 0px;
}
#whatIdo h1 {
    margin: 0 0 25px 150px;
}
#whatIdo h1 {
  font-size: 44px;
}
#whatIdo img {
  margin-left: -40%;
}
#whatIdo .scrollText {
  width: 100%;
  overflow: initial;
  /*cursor: pointer;*/
  cursor: none;
}
#whatIdo .scrollText p {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #8b8b92;
    white-space: nowrap;
    font-size: 24px;
    line-height: 34px;
    /*cursor: pointer !important;*/
}



/*.scrollText.hover-text::-webkit-scrollbar-thumb {
    border: 10px solid #8b8b92;
}
.scrollText.hover-text::-webkit-scrollbar {
    width: 4px;
    height: 3px;
    color: red;
    background: #171725;
}
.scrollText.hover-text:hover {
    overflow: auto !important;
}
*/


div#LetsChatCopy p {
    color: #ffffff;
}
#whatIveDone {
  margin: 0px 0 240px 150px;
}
#whatIveDone h1 {
  font-size: 44px;
}
#whatIveDone .tooltip {
  text-decoration: none;
  position: relative;
  color: #8b8b92;
  letter-spacing: 10px;
  margin-top: 60px;
  display: block;
}
#whatIveDone .tooltip:hover {
  color: #fff;
}
#whatIveDone .tooltip span {
  display: none;
  z-index: -1;
}
#whatIveDone .tooltip:hover span {
  display: block !important;
    width: 100%;
    position: absolute;
    /*left:40%;*/
    left:80%;
    top: -300%;
}

/*#whatIveDone .tooltip-span1 img  {
  width: 746px;
  border: 1px solid red;
}
*/#whatIveDone p {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
   #contact:hover {
    border-radius: 100%;
    background: #000010;
    /*box-shadow: rgb(51 51 88) 0px 0px 10px 7px;*/
}
#LetsChatCopy h1:hover {
    width: fit-content; 
    color: #ffff !important;
    cursor: pointer;
}
.LetsChatImagehover .Lets-hover-img{
    display: none;
    transition: all ease-in-out 0.5s;
  }
   .LetsChatImagehover:hover > a .hover{
    display: none;
   }
   #whatIveDone .tooltip:hover span img {
    width: 90%;
}
   .LetsChatImagehover:hover > a .Lets-hover-img{
    display: block;
    cursor: pointer;
   }
   div#aboutImage:hover {
    cursor: pointer;
}
#aboutImage:hover #greeon {
    width: 40% !important;
    transition: width 0.5s; 
}

.scrollText.hover-text p {
    padding: 0 10px;
    margin: 0
}
.scrollText.hover-text p:hover {
    color: #ff1472 !important;
}
.scrollText.hover-text.sass p:hover {
    color: #6d13ff !important;
}
 .marquee {
  height:50px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.marquee div {
  display: block;
  width: 200%;
  height: 40px;
  position: absolute;
  overflow: hidden;
  animation: marquee 30s linear infinite;
}
.marquee p {
  float: left;
  width: 50%;
}
.scrollText.hover-text:hover {
    animation-play-state: paused;
    cursor: none !important;
}

#aboutWarpper #aboutImage #greeon {
    width: 0;
    height: 5px;
    background-color: #38f898;
    margin: 10px 0px 0px 0px;
    transition: width 0.5s;
}
img.Lets-hover-img {
    width: 358px;
    height: 358px;
}

a.tooltip {
    font-size: 36px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}
.Journey:hover h5 {
    display: block;
    position: absolute;
    letter-spacing: 3px;
    font-weight: 500;
    top: 85px;
    font-size: 15px;
    left: 35px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}
.Journey {
    position: relative;
    width: 60%;
    float: left;
}
.Journey h5 {
    display: none;
}

div#LetsChatCopy h1 a {
    position: relative;
    color: #fff;
}

div#LetsChatCopy h1 a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #3f98e0;
    z-index: -1;
    transition: transform 0.3s;
}
div#LetsChatCopy h1 a:hover::after {
    transform: scaleY(1);
}


.mail-link a {
    position: relative;
    z-index: 1;
    color: #fff;
}

.mail-link a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #ff1472;
    z-index: -1;
    transition: transform 0.3s;
}
.mail-link a:hover::after {
    transform: scaleY(1);
}

.linkedin-link a {
    position: relative;
    z-index: 1;
    color: #fff;
}

.linkedin-link a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #38f898;
    z-index: -1;
    transition: transform 0.3s;
}
.linkedin-link a:hover::after {
    transform: scaleY(1);
}
.marquee-left {
    height: 50px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-left div {
    display: block;
    width: 200%;
    height: 40px;
    position: absolute;
    overflow: hidden;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


/************contact****/

.contact-section {
    width: 40%;
    margin: auto;
    text-align: center;
    min-height: 200px;
    padding: 7pc 0;
}
.contact-section .imnot-text h2 {
    font-family: "SpaceMono-Bold", monospace;
    color: white;
    font-size: 30px;
    padding:20px 0;
}
.contact-section .mail-link a {
    color: #ff1472;
     font-family: Roboto;
     font-weight: 500;
    font-size: 35px;
}
.contact-section .linkedin-link a{
  color: #38f898;
     font-family: "SpaceMono-Bold", monospace;
    font-size: 35px;
}
.contact-section .contact-page-section #footer {
    margin: 15px 100px 0 100px;
}
.contact-section .mail-link a:hover {
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
}
.contact-section .linkedin-link a:hover {
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
}
/* #contact:hover {
    background-image: url(../img/contact-icon-hover.svg);
} */
#contact a {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: absolute;
}


/************portfolio****/
.portfolio-section {
    width: 70%;
    margin: auto;
    padding-top: 50px;
}
.portfolio-heading {
    display: flex;
    position: relative;
}
.journey-image {
    position: absolute;
    right: 0;
}
.journey-image img {
    width: 700px;
}
.journey-day h1 {
    z-index: 1;
    font-size: 55px;
    letter-spacing: 15px;
    color: #ffffff;
    padding: 160px 0;
    text-shadow: 1px 1px #ffffff;
}
.journey-day {
    z-index: 1;
}
.role-lead-designer p {
    display: inline-block;
    font-size: 16px;
    padding-right: 30px;
    font-weight: bold;
    color: #ffff;
}
.role-lead-designer p:last-child {
    padding-right: 0px;
}

.role-lead-designer {
    padding: 50px 0;
}
.objective-heading h3 {
    color: #8b8b92;
    font-size: 25px;
    font-weight: bold;
    font-family: "SpaceMono-Bold", monospace;
    margin: 0;
    margin-bottom: 10px;
}
.objective-heading {
    width: 75%;
    margin: auto;
    padding: 80px 0;
    margin-top: 70px;
}
.objective-heading h2 {
    color: #e8e8e9;
    font-family: "SpaceMono-Bold", monospace;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 20px !important;
    margin: 0;
}
.objective-heading p {
    color: #8b8b92;
     font-family: "Roboto", sans-serif;
    letter-spacing: 0 !important;
    font-size: 21px;
}
.objective-image img {
    width: 100%;
}



@media only screen and (min-width : 320px) and (max-width : 767px) {
  /* password-protection */
    .title h1 {
        color: #fff;
        font-size: 16px;
        text-align: center;
      }
      .input-field #password{
          margin: 0px;
          width: 270px;
      }
      .input-field button{margin-top: 10px;}
      .banner-password .input-field {
        text-align: center;
      }

/* password-protection end */
#whatIveDone h1 {
    font-size: 36px;
}
.Journey {
    position: relative;
    width: 100%;
    float: left;
}

#logo {
    margin: 0px 0px 0px 0;
    padding:0 10px;
}
#contact {
    right: 3px;
    top: -8px;
}
section#intro {
    margin: 100px 0px 0 0px;
    padding: 0 10px;
        min-height: 300px;
}
#about, #LetsChat {
    margin: -110px 0px 0 0px;
}
#about #aboutWarpper, #about #LetsChatWrapper, #LetsChat #aboutWarpper, #LetsChat #LetsChatWrapper {
    padding: 0 0 0 0px;
    margin-top: 128px;
}
#aboutWarpper {
    display: inline-block;
}
#about #aboutWarpper #aboutImage, #about #LetsChatWrapper #aboutImage, #LetsChat #aboutWarpper #aboutImage, #LetsChat #LetsChatWrapper #aboutImage {
    width: 300px;
    margin: 0 9px;
}
#about #aboutWarpper #aboutCopy, #about #LetsChatWrapper #aboutCopy, #LetsChat #aboutWarpper #aboutCopy, #LetsChat #LetsChatWrapper #aboutCopy {
    width: 90%;
    float: left;
    margin: 30px 0 0 0px;
    padding:0 10px;
}
#whatIdo {
    margin: 0px 0 0 0px;
    min-height: 250px;
    padding: 0 10px;
}
#whatIveDone {
    margin: 0px 0 0px 0px;
    padding:0 10px;
}
div#LetsChatWrapper {
    display: inline-block;
}
#about #aboutWarpper #LetsChatImage, #about #LetsChatWrapper #LetsChatImage, #LetsChat #aboutWarpper #LetsChatImage, #LetsChat #LetsChatWrapper #LetsChatImage {
    width: 100%;
}
div#LetsChatImage img {
    width: 100%;
}
#footer {
    margin: 0px 0px 0 0px;
}
#about #aboutWarpper #lines, #about #LetsChatWrapper #lines, #LetsChat #aboutWarpper #lines, #LetsChat #LetsChatWrapper #lines {
    width: 90%;
    margin: 0 0 0px 0px;
    padding-left: 20px;
}
#whatIdo h1 {
    margin: 0 0 0px 0px;
}
#whatIveDone p {
    font-size: 35px;
}
a.tooltip {
    font-size: 27px;
    letter-spacing: 5px !important;
    color: white !important;
}
img.hover {
    margin-bottom: 32px;
    width: 300px;
    text-align: center;
}
div#LetsChatImage\ {
    margin: auto;
    text-align: center;
}
.footer-text {
    padding: 10px;
}
.footer-text ul {
    text-align: end;
}
.footer-text ul li a {
    padding-left: 0;
}
#about #aboutWarpper #LetsChatCopy, #about #LetsChatWrapper #LetsChatCopy, #LetsChat #aboutWarpper #LetsChatCopy, #LetsChat #LetsChatWrapper #LetsChatCopy {
    width: 90%;
    padding: 0 10px;
        margin: 0 0px 0 0px;
}
#blueCircle {
    position: fixed;
    top: 0;
    width: 220%;
    left: -256px;
    z-index: -10;
}
#whatIveDone .tooltip span {
    display: block;
}
span#tooltip-span1 img {
    width: 85%;
    margin-bottom: 15px;
}
span#tooltip-span2 img {
    width: 85%;
    margin-bottom: 15px;
} 
span#tooltip-span3 img {
    width: 85%;
    margin-bottom: 15px;
} 
span#tooltip-span4 img {
    width: 85%;
    margin-bottom: 15px;
}  
.mobile-video {
    position: relative;
    width: 100%;
}
#about #aboutWarpper #aboutImage img, #about #LetsChatWrapper #aboutImage img, #LetsChat #aboutWarpper #aboutImage img, #LetsChat #LetsChatWrapper #aboutImage img {
    width: 260px;
    height: 253px;
}
#about #aboutWarpper #aboutImage {
    height: 367px;
}
.contact-section {
    width: 100%;
    min-height: 200px;
    padding: 50px 0;
}
.mail-link {
    display: block;
}
.linkedin-link {
    display: block;
}
.contact-section .imnot-text h2 {
    /*font-size: 25px;*/
    font-size: 19px;
    padding: 20px 30px;
}
#whatIdo .scrollText p {
    font-size: 25px;
  }
  .portfolio-section {
    width: 95%;
    padding: 0 10px;
}
.objective-heading h2 {
    font-size: 25px;
    }
    .journey-image img {
    width: 260px;
}
.journey-day h1 {
    z-index: 1;
    font-size: 25px;
    letter-spacing: 5px;
    padding: 0px 0;
}
.objective-heading {
    width: 100%;
    margin-top: 40px;
    padding: 10px 0;
}
.journey-image {
    position: absolute;
    right: 0;
}
.portfolio-heading {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    padding-top: 9pc;
}
.journey-day {
    position: absolute;
    right: 55%;
}
.role-lead-designer p {
    font-size: 12px;
    margin: 0 0 10px 0;
    padding-right: 10px;
}
.role-lead-designer {
    padding: 30px 0;
    margin-top: 80px;
}
.contact-section .mail-link a {
    font-size: 19px;
}
.contact-section .linkedin-link a {
    font-size: 19px;
}
.footer-text ul li {
    width: 100%;
}


}
@media only screen and (min-width : 768px) and (max-width : 1024px) {

  #contact {
    right: 47px;}
    #logo {
    margin: 30px 50px 30px 50px;
}
#blueCircle {
    position: fixed;
    top: -3%;
    right: 0;
    z-index: -10;
    width: 100%;
}
section#intro {
    margin: 100px 15px 0 50px;
    min-height: 300px;
}
#about, #LetsChat {
    margin: 70px 50px 0 50px;
}
#whatIdo h1 {
    margin: 0 50px 25px 50px;
}
#whatIveDone {
    margin: 0px 0 50px 50px;
}
#footer {
    margin: 100px 50px 0 50px;
}
#about #aboutWarpper, #about #LetsChatWrapper, #LetsChat #aboutWarpper, #LetsChat #LetsChatWrapper {
    padding: 0 0 0 0px;
}
#about #aboutWarpper #LetsChatCopy, #about #LetsChatWrapper #LetsChatCopy, #LetsChat #aboutWarpper #LetsChatCopy, #LetsChat #LetsChatWrapper #LetsChatCopy {
    margin: 0 0px 0 50px;
}
#about #aboutWarpper #aboutImage, #about #LetsChatWrapper #aboutImage, #LetsChat #aboutWarpper #aboutImage, #LetsChat #LetsChatWrapper #aboutImage {
    height: 330px;
    }
    #whatIdo {
    margin: 100px 0 0 0px;
    min-height: 350px;
}
#about #aboutWarpper #LetsChatCopy h1, #about #LetsChatWrapper #LetsChatCopy h1, #LetsChat #aboutWarpper #LetsChatCopy h1, #LetsChat #LetsChatWrapper #LetsChatCopy h1 a {
    font-size: 40px;
}
.footer-text ul {
    padding: 0;
}
.contact-section {
    width: 70%;
        padding: 5pc 0;
      }
      .portfolio-section {
    width: 80%;
}
.journey-image img {
    width: 500px;
}
.journey-day h1 {
    padding: 0px 0;
}
.role-lead-designer {
    padding: 10px 0;
    margin-top: 130px;
}
.objective-heading h2 {
    font-size: 35px;
}
.objective-heading {
    padding: 50px 0;
    margin-top: 0;
}
.portfolio-heading {
    align-items: center;
    margin-top: 120px;
}

  }
  @media only screen and (min-width : 1025px) and (max-width : 1200px) {
section#intro {
    margin: 120px 120px 0 120px;
}
.contact-section {
    width: 50%;
  }
#blueCircle {
    position: absolute;
    top: -6%;
    right: 0;
    width: 100%;
    z-index: -10;
}
#about, #LetsChat {
    margin: 70px 100px 0 120px;
}
#about #aboutWarpper, #about #LetsChatWrapper, #LetsChat #aboutWarpper, #LetsChat #LetsChatWrapper {
    padding: 0 0 0 30px;
}
#whatIdo h1 {
    margin: 0 0 25px 120px;
}
#whatIveDone {
    margin: 0px 0 200px 120px;
}
.journey-image img {
    width: 600px;
}
.journey-day h1 {
    padding: 128px 0;
}
.objective-heading h2 {
    font-size: 42px;
}
.objective-heading {
    padding: 60px 0;
    margin-top: 0;
}

  }







 /* What we do hover css*/
 .Journey img {
    width: 40%;
    float: right;
}

/*My css start*/
.scrollText.hover-text.sass a {
    text-decoration: none;
}

.scrollText.hover-text a {
    text-decoration: none;
}


/*div#LetsChatImage\:hover {
    transform: rotate(10deg);
}*/
.LetsChatImagehover .Lets-hover-img:hover{
    transform: rotate(5deg);
}

#about #aboutWarpper #aboutImage:hover #blue {
    width: 35%;
}

#about #aboutWarpper #aboutImage:hover #violent {
    width: 34%;
}
